* {
  padding: 0;
  margin: 0;
}

#container {
  width: 300px;
  margin: 0 auto;
  margin-top: 150px;
}
.tabs {
  display: table-cell;
  width: 30%;
  background-color: rgba(11, 177, 224, 0.82);
  padding: 10px;
  float: left;
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 1.3em;
  border-radius: 10px 10px 0 0px;
}
.tabs:hover,
p {
  cursor: pointer;
}

#lt {
  background-color: rgb(12, 132, 189);
}
#cont {
  width: 100%;
  height: 300px;
  background-color: rgba(11, 177, 224, 0.82);
}

input {
  display: block;
  width: 250px;
  margin: 10px 13px;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 5px;
  border: none;
  color: rgba(11, 177, 224, 0.82);
  outline: none;
}

input[type="submit"] {
  width: 272px;
  color: #6e6e6e;
}

#clear {
  clear: both;
}

.comm {
  position: absolute;
  visibility: hidden;
}
#login {
  visibility: visible;
}

h3 {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 15px;
  font-size: 1.5em;
  color: #ffffff;
}

#forgot h3 {
  display: block;
  margin-top: 30px;
  text-align: center;
}

#forgot div {
  margin-top: 30px;
}
p {
  padding: 10px 15px;
  font-size: 1.3em;
  color: #ffffff;
}
